<section class="about-us-section">
  <h2>Our Services</h2>
  <p>
    Venk is an Indian e-commerce company, headquartered in Bangalore, Karnataka, India, and incorporated in
    Singapore as a private limited
  </p>
  <div class="services-container">
    <div class="service">
      <i class="fas fa-truck"></i>
      <h4>Delivery Services</h4>
    </div>
    <div class="service">
      <i class="fas fa-exchange-alt"></i>
      <h4>Shipping&Returns</h4>
    </div>
    <div class="service">
      <i class="fas fa-percent"></i>
      <h4>Promotion</h4>
    </div>
    <div class="service">
      <i class="fas fa-user"></i>
      <h4>24 Hours Service</h4>
    </div>
  </div>
</section>
