 <!-- Shop Section -->
 <section class="shop-section">
  <h2>Shop Now</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
      Alias laudantium aliquid, quidem corporis vel unde
  </p>
  <div class="shop-products-container">
      <div class="shop-product">
          <img src="../../assets/images/shop_01.jpg"alt="sh1">
          <div class="shop-text-part">
              <h6>Oupidatat non</h6>
              <h4>M/L/X/XL</h4>
              <div class="shop-star-price">
                  <div class="shop-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                  </div>
                  <p class="shop-price">$250.00</p>
              </div>
          </div>
      </div>
      <div class="shop-product">
          <img src="../../assets/images/shop_02.jpg" alt="sh1">
          <div class="shop-text-part">
              <h6>Oupidatat non</h6>
              <h4>M/L/X/XL</h4>
              <div class="shop-star-price">
                  <div class="shop-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                  </div>
                  <p class="shop-price">$250.00</p>
              </div>
          </div>
      </div>
      <div class="shop-product">
          <img src="../../assets/images/shop_03.jpg"alt="sh1">
          <div class="shop-text-part">
              <h6>Oupidatat non</h6>
              <h4>M/L/X/XL</h4>
              <div class="shop-star-price">
                  <div class="shop-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                  </div>
                  <p class="shop-price">$250.00</p>
              </div>
          </div>
      </div>
      <div class="shop-product">
          <img src="../../assets/images/shop_04.jpg" alt="sh1">
          <div class="shop-text-part">
              <h6>Oupidatat non</h6>
              <h4>M/L/X/XL</h4>
              <div class="shop-star-price">
                  <div class="shop-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                  </div>
                  <p class="shop-price">$250.00</p>
              </div>
          </div>
      </div>
      <div class="shop-product">
          <img src="../../assets/images/shop_05.jpg" alt="sh1">
          <div class="shop-text-part">
              <h6>Oupidatat non</h6>
              <h4>M/L/X/XL</h4>
              <div class="shop-star-price">
                  <div class="shop-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                  </div>
                  <p class="shop-price">$250.00</p>
              </div>
          </div>
      </div>
      <div class="shop-product">
          <img src="../../assets/images/shop_06.jpg" alt="sh1">
          <div class="shop-text-part">
              <h6>Oupidatat non</h6>
              <h4>M/L/X/XL</h4>
              <div class="shop-star-price">
                  <div class="shop-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                  </div>
                  <p class="shop-price">$250.00</p>
              </div>
          </div>
      </div>
      <div class="shop-product">
          <img src="../../assets/images/shop_07.jpg" alt="sh1">
          <div class="shop-text-part">
              <h6>Oupidatat non</h6>
              <h4>M/L/X/XL</h4>
              <div class="shop-star-price">
                  <div class="shop-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                  </div>
                  <p class="shop-price">$250.00</p>
              </div>
          </div>
      </div>
      <div class="shop-product">
          <img src="../../assets/images/shop_08.jpg" alt="sh1">
          <div class="shop-text-part">
              <h6>Oupidatat non</h6>
              <h4>M/L/X/XL</h4>
              <div class="shop-star-price">
                  <div class="shop-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                  </div>
                  <p class="shop-price">$250.00</p>
              </div>
          </div>
      </div>
      <div class="shop-product">
          <img src="../../assets/images/shop_09.jpg" alt="sh1">
          <div class="shop-text-part">
              <h6>Oupidatat non</h6>
              <h4>M/L/X/XL</h4>
              <div class="shop-star-price">
                  <div class="shop-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                  </div>
                  <p class="shop-price">$250.00</p>
              </div>
          </div>
      </div>
  </div>
</section>
