title{
  color: green;
}
.navbar-nav {
  margin-left: auto !important;
}
.nav-item{
  margin: 0 20px;
}
.nav-link {
  font-weight: 500;
}
.navbar-brand {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #59ab6e !important;
}
.navbar {
  background-color: white !important;
  position: sticky;
  top: 0;
  /* border-bottom: 2px solid green; */
  box-shadow: 5px 4px 4px brown;
  /* z-index: 70; */
}
.nav-icons > i {
  margin-right: 1rem;
}
